<div class="container">
    <h1>It worked!</h1>
    <p>If you're seeing this in your browser on port 7070, it means everything worked! Grunt-browserify built the app,
       Node served it, and Backbone rendered this view in your browser.</p>
</div>